* {
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: -webkit-fill-available;
    background-color: rgba(228, 228, 228, 0.45);
}

/* navbar  */
.navicons button {
    background-color: white;
    border-radius: 50%;
}

.navbar {
    transition: all 0.5s;
    background-color: black;
}

.offcanvas {
    border-right: 3px solid;
    border-color: orange;
    /* margin-right: 20%; */
}

.navbar-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
}

.nav-item {
    margin: 8px;
}

.navicons button {
    margin: 5px;
    margin-top: 10px;
}

.modal-content {
    color: black;
    background-color: rgba(92, 110, 116, 0.929);
    box-shadow: 7px 11px 14px 4px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 7px 11px 14px 4px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 7px 11px 14px 4px rgba(0, 0, 0, 0.62);
}

.forget-pass {
    color: skyblue;
    text-decoration: none;
}

.forget-pass:hover {
    color: white;
    transition: all 0.5s;
}

/* carousel  */
h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 50px;
}

.carousel-inner {
    background-size: cover;
}

.carousel-inner img {
    width: 100%;
    height: 800px;
}

.row1 {
    background: transparent;
    backdrop-filter: blur(25px);
    border-radius: 10px;
    height: 300px;
    padding: 30px;
    box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.57);
}

/* imagestrowberry */
.imagestrowberry {
    height: 30rem;
    width: 100%;
    border-radius: 20px;
}

.imagestrowberry:hover {
    transition: .5s;
    box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.57);
}

.heading h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
}

.divider {
    width: 10%;
}

.Features {
    background-image: url(Images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

.card1 {
    width: 100%;
}

.card1 img {
    padding: 10%;
    margin-left: 25%;
    height: 50%;
    width: 50%;
}

.card:hover {
    transition: .5s;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76);
}

.line {
    height: 2px;
    width: 50%;
    border-radius: 50%;
    background-color: red;
    margin: auto;
}

.line1 {
    height: 4px;
    width: 80%;
    margin: auto;
    border-radius: 50%;
    margin-top: 5%;
    background-color: green;
}

/* ============= Product Carousel =============== */


/* ============= Product =============== */
.image-zoom {
    overflow: hidden;
}

.image-zoom img {
    transition: all 1.1s;
}

.image-zoom img:hover {
    transform: scale(1.1);
}

.card2 {
    margin: 2%;
}

.card2-footer {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.fresh {
    width: 20%;
}

.card2-footer:hover {
    color: #14d721;
    cursor: pointer;
}

.Firm-main {
    color: white;
    background-image: url('Images/farm\ bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: fit-content;
    padding: 5%;
}

.visit-text-bg {
    border: 2px solid black;
    border-radius: 25px 0;
    background-color: rgba(128, 128, 128, 0.458);
    padding: 25px;
}

.visit-text-bg:hover {
    background-color: rgba(128, 128, 128, 0.863);
    transition: 1s;
    color: black;
}

.btn-text {
    color: white;
    text-decoration: none;
}

.btn-text:hover {
    color: orange;
}

.slide1 {
    margin-top: 50px;
    height: 300px;
    background-color: gray;
    border-radius: 20px;
}


/* -------------------Blog----------------------- */
.blog-box {
    padding: 10px;
}

/* -------------------Customer Review----------------------- */
.Review-main {
    margin-bottom: 5%;
}

.rev-box {
    padding: 20px;
}

.revimg img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;
}

/* ====================Contact Form================== */

/* -------------------Footer----------------------- */

.footer-1 {
    padding: 10px;
    height: 45vh;
}

.f1-top {
    margin-top: 40px;
}

.f1-top-apple {
    float: left;
}

.f1-top-apple img {
    object-fit: contain;
    height: 40px;
}

.f1-top-r h5 {
    color: white;
    font-size: 18px;
    line-height: 40px;
}

.f1-bottom-icon {
    margin-left: 10%;
}

.f1-bottom-icon i {
    margin-left: 5%;
    color: white;
    transition: all .5s;
}

.f1-bottom-icon i:hover {
    color: #9c9c9c;
}

/* ===================f-2======================== */
.footer-2 {
    padding: 10px;
    height: 40vh;
    color: gray;
}

.f2-top {
    margin-top: 40px;
    color: white;
}

.f2-bottom a {
    text-decoration: none;
    color: gray;
    transition: all .5s;
}

.f2-bottom a:hover {
    text-decoration: none;
    color: white;
}

.f2-bottom i {
    color: white;
}

/* ===================f-3======================== */
.footer-3 {
    padding: 10px;
    height: 40vh;
    color: gray;
}

.f3-top {
    margin-top: 40px;
    color: white;
}

.f3-bottom a {
    text-decoration: none;
    color: gray;
    transition: all .5s;
}

.f3-bottom a:hover {
    text-decoration: none;
    color: white;
}

.f3-bottom i {
    color: white;
}

/* ===================f-4======================== */
.footer-4 {
    padding: 10px;
    height: 40vh;
    color: gray;
}

.f4-top {
    margin-top: 40px;
    color: white;
}

/* ===================copyright======================== */
.copyright {
    color: gray;
}

.copyright a {
    text-decoration: none;
    color: skyblue;
    transition: all .5s;
}

.copyright a:hover {
    color: white;
}

/* -------------------About Us Page----------------------- */

.about-top {
    background-image: url(Images/Top_bg/topbg.jpg);
    height: 400px;
    background-size: cover;
    background-position-y: center;
    background-size: cover;
}




/* --------------------------Media Querry-------------------------- */

/* xs extra Small devices (landscape phones, upto 576px) */
@media (max-width:575.98px) {

    /* carousel  */
    h1 {
        font-family: 'Lora', serif;
        font-weight: 700;
        font-size: 25px;
    }

    .p {
        font-size: 10px;
    }

    .carousel-inner {
        background-size: cover;
    }

    .carousel-inner img {
        width: 100%;
        height: 800px;
    }

    .row1 {
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        height: 100px;
        padding: 0px;
        box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.57);
        -webkit-box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.57);
    }

    .about-top h1 {
        font-size: 65px;
        margin-top: -80px;
        margin-left: -40px;
    }

    /* imagestrowberry */
    .imagestrowberry {
        height: 15rem;
        width: 100%;
        border-radius: 20px;
        margin-top: -30%;
    }

    .best-org-content {
        margin-left: -30%;
    }

    .feat-top {
        margin-bottom: -80px;
    }

    .card1 {
        width: 80%;
        margin: auto;
        padding: auto;
    }

    .card1 img {
        height: 40%;
        width: 40%;
    }

    .heading-main {
        text-align: center;
        margin-bottom: -80px;
    }

    .product-btn {
        float: right;
    }

    .card-size {
        width: 100%;
    }

    .products {
        margin-top: 80px;
    }

    /* ==================footer======================== */
    /* ==================f-1======================== */
    .footer-1 {
        padding: 10px;
        height: 200px;
    }

    .f1-top {
        margin-top: 30px;
        padding: 10px;
    }

    .f1-top-r h5 {
        color: white;
        font-size: 25px;
        line-height: 40px;
    }

    /* ==================f-2======================== */
    .footer-2 {
        padding: 30px;
        height: 220px;
    }

    .f2-top {
        margin-top: 30px;
        padding: 10px;
    }

    .f2-top-r h5 {
        color: white;
        font-size: 25px;
        line-height: 40px;
    }

    /* ==================f-3======================== */
    .footer-3 {
        padding: 30px;
        height: 300px;
    }

    .f3-top {
        margin-top: 30px;
        padding: 10px;
    }

    .f3-top-r h5 {
        color: white;
        font-size: 25px;
        line-height: 40px;
    }

    /* ==================f-4======================== */
    .footer-4 {
        padding: 30px;
        height: 28vh;
    }

    .f4-top {
        margin-top: 30px;
        padding: 10px;
    }

    .f4-top-r h5 {
        color: white;
        font-size: 25px;
        line-height: 40px;
    }

}


/* s small devices (tablets, 576px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .rev-box {
        padding: 10px;
    }

    .blog-box {
        padding: 10px;
    }

    /* imagestrowberry */
    .imagestrowberry {
        height: 20rem;
        width: 100%;
        border-radius: 20px;
        margin-bottom: 50px;
    }

    /* -------------------Footer----------------------- */

    /* ==================f-1======================== */
    .footer-1 {
        padding: 10px;
        height: 200px;
    }

    .f1-top {
        margin-top: 30px;
        padding: 10px;
    }

    .f1-top-r h5 {
        color: white;
        font-size: 25px;
        line-height: 40px;
    }

    /* ==================f-2======================== */
    .footer-2 {
        padding: 30px;
        height: 200px;
    }

    .f2-top {
        margin-top: 30px;
        padding: 10px;
    }

    .f2-top-r h5 {
        color: white;
        font-size: 25px;
        line-height: 40px;
    }

    /* ==================f-3======================== */
    .footer-3 {
        padding: 30px;
        height: 350px;
    }

    .f3-top {
        margin-top: 30px;
        padding: 10px;
    }

    .f3-top-r h5 {
        color: white;
        font-size: 25px;
        line-height: 40px;
    }

    /* ==================f-4======================== */
    .footer-4 {
        padding: 30px;
        height: 28vh;
    }

    .f4-top {
        margin-top: 30px;
        padding: 10px;
    }

    .f4-top-r h5 {
        color: white;
        font-size: 25px;
        line-height: 40px;
    }

}